# როგორ დავაინსტალიროთ Pandas

In [ ]:
!pip install pandas

# Pandas-ს და სხვა საჭირო ბიბლიოთეკების შემოტანა

In [ ]:
import pandas as pd

# სხვადასხვა ტიპის ფაილის წაკითხვა

In [ ]:
train_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQ-DtJ_iRrgZAA-PU8-ecV6yCGJCrf4nbOcQqtPUKALs7PGm111QKb5el8bxsXeZ370zgDKHeevCcF8/pub?gid=1654560463&single=true&output=csv')

In [ ]:
train_df.head()

# შემოტანილი ცხრილის დათვალიერება

In [ ]:
#სვეტების სახელების სია
train_df.columns

In [ ]:
#ცხრილის განზომილებების ნახვა
train_df.shape

In [ ]:
#პირველი მნიშვნელობა გვიჩვენებს რამდენი ჩანაწერი გვაქვს ცხრილში, ხოლო მეორე მნიშვნელობა აჩვენებს სვეტების რაოდენობას
print("rows:", train_df.shape[0])
print("columns:", train_df.shape[1])

In [ ]:
#რა ტიპის სვეტები გვაქვს ცხრილში
train_df.info()

In [ ]:
#ცხრილის სტატისტიკური მნიშვნელობების დათვალიერება რიცხვით ცვლადებზე
train_df.describe()

# მონაცემების სელექცია და ფილტრაცია

## სვეტების მიხედვით სელექცია

In [ ]:
columns_to_select = ['Name','Age']

In [ ]:
train_df[columns_to_select]

In [ ]:
train_df[['Name','Age']]

## ჩანაწერების მიხედვით ამორჩევა

In [ ]:
start = 2 
end = 5

In [ ]:
#საწყისი და საბოლოო ინდექსით(საიდან-სადამდე)
train_df.iloc[start:end]

In [ ]:
# მხოლოდ საწყისი ინდექსით(საიდან-ბოლო ჩანაწერამდე)
train_df.iloc[start:]

# sadadsa

In [ ]:
#მხოლოდ საბოლოო ინდექსით(პირველი ჩანაწერიდან - სადამდე)
train_df[:end]

## სვეტებით და ჩანაწერებით ამორჩევა ერთდროულად

In [ ]:
train_df.iloc[start:end, : ]

In [ ]:
train_df.iloc[start:end, 0:4 ]

In [ ]:
train_df.iloc[start:end, 0: ]

In [ ]:
train_df.iloc[start:end, :4 ]

## პირობით ფილტრაცია

In [ ]:
#შევქმნათ ერთი პირობა
(train_df.Age>44)
#ან
(train_df['Age']>44)

### train_df['Age']>44 ან train_df.Age>44 პირობა, აბრუნებს True და False ების სერიას, ჩვენ შეგვიძლია ეს სერია გამოვიყენოთ როგორც ფილტრი და ამოვიღოთ მხოლოდ ის ჩანაწერები სადაც პირობა სრულდება, ანუ სერიაში True მნიშვნელობა გვაქვს

In [ ]:
train_df[(train_df["Age"] > 44)]

In [ ]:
#ჩვენ შეგვიძლია შევინახოთ ჩვენი პირობა ცვლადში და შემდეგ გამოვიყენოთ
condition = (train_df.Age>44)

In [ ]:
train_df[condition]

###  '~' ასრულებს ლოგიკური უარყოფის ფუნქციას, მაგალითად: 
### თუ ჩვენი პირობა არის train_df.Age > 44, 
### ~train_df.Age > 44 იქნება იგივე რაც train_df.Age <= 44

In [ ]:
train_df[~condition]

In [ ]:
# პირობა ჩვენ შეგვიძლია შევქმნათ რამდენიმე ქვეპირობისგან, მაგალითად გვჭირდება ამოვიღოთ მხოლოდ 44 წელს ზემოთ მამაკაცები
condition_and = (train_df.Age>44) & (train_df.Sex=='male')
# შესაძლებელია გვჭირდებოდეს ან პირობით გადაბმა, მაგალითად მგზავრები რომლებიც არიან 44 წელს ზემოთ ან არიან მამაკაცები
condition_or = (train_df.Age>44) | (train_df.Sex=='male')

In [ ]:
train_df[condition_and]

In [ ]:
train_df[condition_or]

## ფილტრაცია და კონკრეტული სვეტ(ებ)ის ამორჩევა

# დაჯგუფება

## თუ დავაკვირდებით, ტიტანიკზე არსებობდა 3 კლასის ბილეთი, პირველი, მეორე და მესამე. ვნახოთ მათი განაწილება

In [ ]:
train_df.describe()

In [ ]:
train_df.groupby('Pclass')['Pclass'].count()

In [ ]:
train_df.Pclass.value_counts()

## სულ გაყიდულა 216 პირველი კლასის ბილეთი, 184 მეორე და 491 მესამე კლასის ბილეთი

## დავაჯგუფოთ კლასის მიხედვით და ვნახოთ რომელი კლასის მგზავრებიდან რამდენი პროცენტი გადარჩა

In [ ]:
train_df.groupby(['Pclass'])['Survived'].mean()

## როგორც ვხედავთ, პირველი კლასიდან 63%მდე გადარჩა, მეორე კლასის მგზავრების 47% ხოლო მესამედან ყველაზე ცოტა, 24%

## ახლა გავარკვიოთ რომელ სქესის ადამიანებიდან გადარჩნენ უფრო დიდი პროცენტი

In [ ]:
train_df.groupby(['Sex'])['Survived'].mean()

## გადარჩენილა ქალების 74% ხოლო მამაკაცებიდან დაახლოებით 19%

## ახლა კი გავაერთიანოთ სქესი, ბილეთის კლასი და ორ ჭრილში შევხედოთ ერთდროულად

In [ ]:
train_df.groupby(['Pclass','Sex'])['Survived'].mean()

In [ ]:
train_df.groupby(['Sex','Pclass'])['Survived'].mean()

# მანიპულაციები სვეტებზე

## შევხედოთ ასაკის ცვლადის განაწილებას

In [ ]:
train_df.Age.describe()

## მოდით ვნახოთ გადარჩენის პროცენტული რაოდენობა ასაკობრივ ჭრილში

In [ ]:
train_df.groupby(['Age'])['Survived'].mean()

## როგორც ვხედავთ, საკმაოდ გაუგებარი და რთულად აღსაქმელი ცხრილი მივიღეთ, სქესის, ან მგზავრობის ბილეთისგან განსხვავებით, ასაკი მერყეობს 0.42-დან 80მდე, რაც საკმაოდ ბევრია. შევქმნათ ახალი ცვლადი, დავყოთ 20 წლიან ინტერვალებად და ისე შევხედოთ.

In [ ]:
train_df.Age.value_counts()

In [ ]:
cut_ages = ['-18', "18-30", '31-50', '50+',]
cut_bins = [0, 18, 30, 50,100]
train_df['Age_bins'] = pd.cut(train_df['Age'], bins=cut_bins, labels = cut_ages)

In [ ]:
train_df[['Age','Age_bins']]

In [ ]:
train_df.Age_bins.describe()

In [ ]:
train_df.groupby(['Age_bins'])['Survived'].mean()

In [ ]:
train_df.groupby(['Age_bins','Sex'])['Survived'].mean()

In [ ]:
train_df.groupby(['Pclass','Sex','Age_bins'])['Survived'].agg(['count','mean'])

### ვიცით რომ ტიტანიკზე 891 მგზავრი იყო, ხოლო აქ 714-ს გვიჩვენებს, რაც ნიშნავს რომ 177 მგზავრის ასაკი არაა შევსებული.

## ჩვენ დავუშვით ერთი შეცდომა, კერძოდ, აქაც არ ვითვალისწინებთ იმ ადამიანებს ვისი ასაკიც არ ვიცით

### ვნახოთ ჩანაწერები სადაც არ ვიცით ასაკი

In [ ]:
condition = train_df.Age.isna()

In [ ]:
train_df[condition]

In [ ]:
train_df.Age_bins.dtype

In [ ]:
train_df.Age_bins = train_df.Age_bins.cat.add_categories('Unknown') #დავამატოთ ახალი კატეგორია

In [ ]:
train_df.Age_bins.dtype

### შევავსოთ ცარიელი ასაკის ინტერვალები unknown კატეგორიით

In [ ]:
train_df.Age_bins.fillna('Unknown', inplace = True)

### და შევამოწმოთ

In [ ]:
train_df[condition]

In [ ]:
train_df.groupby(['Pclass','Sex','Age_bins'])['Survived'].agg(['count','mean'])

## განვიხილოთ ცარიელი ცვლადების შევსების სხვადასხვა მეთოდები, ასაკის ცვლადის მაგალითზე

In [ ]:
condition = train_df.Age.isna()
train_df[condition]

In [ ]:
print('ასაკის საშუალო',train_df.Age.describe()['mean'])
print('ასაკის მედიანა',train_df.Age.describe()['50%'])

In [ ]:
train_df.Age.fillna(train_df.Age.mean()).describe() # ასე შეგვიძლია ცარიელი ასაკები შევავსოთ ასაკის საშუალო მნიშვნელობით

In [ ]:
train_df.Age.fillna(train_df.Age.median()).describe() # ან მედიანით, თუ დავაკვირდებით მედიანით შეცვლამ ჩვენს შემთხვევაში ჩამოწია საშუალო ასაკი

In [ ]:
ქალების შევავსოთ ქალების საშუალო ასაკით და კაცების კაცების საშუალოთი.

In [ ]:
train_df.Age.fillna(train_df.groupby('Sex')['Age'].transform('mean')).describe()

# merge

In [ ]:
dict1 = {'Manager': ['Man1', 'Man2', 'Man3', 'Man4'],
                    'Age': [18, 28, 38, 35]}

In [ ]:
df1 = pd.DataFrame(dict1)
df1

In [ ]:
dict2 = {'Manager': ['Man1', 'Man2', 'Man3', 'Man4'],
                    'Salary': [500, 600, 700, 8000]}

In [ ]:
df2 = pd.DataFrame(dict2)
df2

In [ ]:
df1.merge(df2, left_on='Manager', right_on='Manager')

# სავარჯიშოები

## გამოიყენეთ, უკვე ლექციისას გამოყენებული დატაფრეიმი train_df, დაუმატეთ ერთი ახალი სვეტი, missing_count, სადაც თითოეულ ხაზზე იქნება ჩაწერილი თუ რამდენი missing value-ა თითოეულ სტრიქონში

## Name სვეტში ჯერ წერია გვარი, შემდეგ სახელი, გააკეთეთ ახალი სვეტი Lastname, სადაც ჩაწერთ გვარებს. მაგალითად თუ წერია Moran, Mr. James	, Lastname ველში ჩაიწეროს Moran

## გვაქვს  dict1 = {'Manager': ['Man1', 'Man2', 'Man3', 'Man4'], 'Age': [18, 28, 38, 35]} , გააკეთეთ ახალი სვეტი, სადაც იქნება ჩაწერილი 1 თუ ასაკი კენტია, ხოლო False თუ ასაკი ლუწია.

## გამოიყენეთ ლექციისას გამოყენებული დატაფრეიმი, მისგან შექმენით ახალი დატაფრეიმი, სადაც ჩაიწერება მხოლოდ ის სტრიქონები რომელთა ინდექსიც ლუწია.

## გაქვთ dict1 = {'Manager': ['Man1', 'Man2', 'Man3', 'Man4'], 'Age': [18, 28, 38, 35]} და  dict2 = {'Manager': ['Man1', 'Man2', 'Man3'], 'Salary': [500, 600, 700]} , გადააბით merge ფუნქციით ისე, რომ Man4-ის Salary იყოს 0

 https://pandas.pydata.org/docs/getting_started/index.html#getting-started